/node_modules
/node_modules/*
npm-debug.log
config.js
settings.json

abilities.js
aliases.js
formats.js
formats-data.js
items.js
learnsets.js
learnsets-g6.js
moves.js
pokedex.js

.hg
.bzr
.svn
